<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebWriter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
<userSettings>
    <WebWriter.Properties.Settings>
        <setting name="LegitDirectories" serializeAs="Xml">
            <value>
                <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                    <string>biblebites</string>
                    <string>bibleclass</string>
                    <string>contact</string>
                    <string>covid19</string>
                    <string>cyc-reunion</string>
                    <string>errors</string>
                    <string>events</string>
                    <string>free_offers</string>
                    <string>gallery</string>
                    <string>images</string>
                    <string>information_links</string>
                    <string>manage</string>
                    <string>news</string>
                    <string>php</string>
                    <string>private</string>
                    <string>programme</string>
                    <string>prophecy</string>
                    <string>public_meetings</string>
                    <string>Rugeley</string>
                    <string>scripts</string>
                    <string>seminars</string>
                    <string>styles</string>
                    <string>test</string>
                    <string>visit</string>
                    <string>what_we_believe</string>
                    <string>where_we_are</string>
                    <string>youthgroup</string>
                </ArrayOfString>
            </value>
        </setting>
    </WebWriter.Properties.Settings>
  </userSettings>

  <runtime>
    <!--
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.15.8.0" newVersion="3.15.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
    -->
  </runtime>
</configuration>
