<?xml version="1.0" encoding="utf-8" ?>
<!--
	This file needs to be put in the application directory. Make sure to set 
	'Copy to Output Directory' option in Visual Studio.
	-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true">

	<targets>
		<target name="file" xsi:type="File" encoding="UTF-8">
			<layout xsi:type="LayoutWithHeaderAndFooter">
			  <layout xsi:type="SimpleLayout" text="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"/>
			  <header xsi:type="SimpleLayout" text="[+++ START: ${machinename} ${longdate} +++]"/>
			  <footer xsi:type="SimpleLayout" text="[--- STOP : ${machinename} ${longdate} ---]"/>
			</layout>
			<fileName>${specialfolder:folder=CommonDocuments}\Real World Software\Logs\${processname}.log</fileName>
			<archiveAboveSize>100000</archiveAboveSize>
			<archiveFileName>${specialfolder:folder=CommonDocuments}\Real World Software\Logs\${processname}.{#}.log</archiveFileName>
			<archiveNumbering>Rolling</archiveNumbering>
			<maxArchiveFiles>5</maxArchiveFiles>
			<keepFileOpen>false</keepFileOpen>
		</target>

		<target name="gmailwrapper" xsi:type="BufferingWrapper" bufferSize="100">
			<target xsi:type="PostFilteringWrapper" defaultFilter="level >= LogLevel.Fatal">
				<target xsi:type="Mail" name="gmail">
					<layout xsi:type="LayoutWithHeaderAndFooter">
						<layout xsi:type="SimpleLayout" text="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"/>
						<header xsi:type="SimpleLayout" text="${longdate} | START | ${machinename} | [+++ START: ${machinename} +++]"/>
						<footer xsi:type="SimpleLayout" text="${longdate} | STOP | ${machinename} | [--- STOP : ${machinename} ---]"/>
					</layout>
					<smtpServer>173.194.67.27</smtpServer>
					<smtpPort>25</smtpPort>
					<smtpAuthentication>None</smtpAuthentication>
					<html>false</html>
					<addNewLines>true</addNewLines>
					<subject>Logging message from ${processname} on ${machinename}</subject>
					<to>philjpearson@gmail.com</to>
					<from>logwatcher@realworldsoftware.co.uk</from>
				</target>
				<when exists="level >= LogLevel.Fatal" filter="level >= LogLevel.Trace"/>
			</target>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
		<logger name="*" minlevel="Trace" writeTo="gmailwrapper" />
	</rules>
</nlog>
