<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="5.2.0" targetFramework="net45" />
  <package id="Catel.Extensions.Controls" version="4.5.4" targetFramework="net45" />
  <package id="Catel.Fody" version="2.19.0" targetFramework="net45" developmentDependency="true" />
  <package id="Catel.MVVM" version="5.2.0" targetFramework="net45" />
  <package id="EPPlus" version="4.1.1" targetFramework="net45" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net45" />
  <package id="FileHelpers" version="3.1.5" targetFramework="net45" />
  <package id="Fody" version="2.2.0" targetFramework="net45" developmentDependency="true" />
  <package id="MySql.Data" version="6.9.10" targetFramework="net45" />
</packages>