<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="5.8.0" targetFramework="net462" />
  <package id="Catel.Extensions.Controls" version="4.5.4" targetFramework="net45" requireReinstallation="true" />
  <package id="Catel.Fody" version="3.7.0" targetFramework="net462" developmentDependency="true" />
  <package id="Catel.MVVM" version="5.8.0" targetFramework="net462" />
  <package id="dotConnect.Express.for.MySQL" version="8.12.1278" targetFramework="net462" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net462" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net45" />
  <package id="FileHelpers" version="3.3.0" targetFramework="net462" />
  <package id="Fody" version="3.3.5" targetFramework="net462" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.11.17" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net462" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net462" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="net462" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net462" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net462" />
</packages>